<!DOCTYPE html>
<html>
<head>
	<title>hiii</title>
	<style> 
        .inputClass { 
            pointer-events: none;  
        } 

     </style>
</head>
<body>
   <form action="" method="post" id="systemForm">
   		{% csrf_token %}

   		Username:<input type="text" name="u__name" value="{{user.username}}" readonly><br><br><br>

   		Available Fund:<input type="text" value="{{fund}}" readonly><br><br>

   		Select Package:<input type="text" name="price1" value="0" list="pricelist">
				<datalist id="pricelist">
				  <option value=1000>
				  <option value=5000>
				  <option value=10000>
				  <option value=15000>
				  <option value=20000>

				</datalist>

				<br><br>

		<button type="submit" form="systemForm" class="btn btn-success">Submit Request</button>
   		
   </form>
</body>
</html>