{% extends "profile_templates/base.html" %}

    {% block styles %}
    {% load static %}
      
      <link rel="stylesheet" type="text/css" href="{% static 'profile_static/css/activateother.css' %}">
      <style type="text/css">
      body {
        background-image: url("{% static 'profile_static/images/back2.jpg' %}"); 
          background-repeat: no-repeat;
          background-size: 100% 100%;
          font-family: 'Chelsea Market', cursive;
         
      }
    </style>

    
    {% endblock %}
    



   {% block content %}
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">{{user.username}}</h2>
        <div id="formdiv" style="background-color: white;">
          <form action="" method="POST">
      {% csrf_token %}

      Username:<br><input type="text" name="u_name"><br><br>
      Re-Enter Username:<br><input type="text" name="u_name1"><br><br>

      Available Fund:<br><input type="text" value="{{fund}}" readonly><br><br>

      <label for="package">Package:</label>
          <select id="cars" name="price1" value=0>
            <optgroup >
              <option value=5000>5000</option>
              <option value=10000>10000</option>
              <option value=20000>20000</option>
              <option value=30000>30000</option>
              <option value=50000>50000</option>
            </optgroup>
          </select>

        <br><br>

    <button type="submit" class="btn btn-success">Submit Request</button>
      
   </form>
    </div>  


 {% endblock content %}
