{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>{{user.username}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'profile_static/css/style.css' %}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url({% static 'profile_static/images/bg_1.jpg' %});">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url({{user.profile.image.url}});"></div>
	  				<h3>{{user.username}}</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
              <a href="{% url 'fund_request' %}"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span>Request Fund</a>
          </li>
          <li>
            <a href="{% url 'activate_id' %}"><span class="fa fa-gift mr-3"></span>Activate ids</a>
          </li>
          <li>
            <a href="{% url 'activate_other_id' %}"><span class="fa fa-gift mr-3"></span>Activate other ids</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-trophy mr-3"></span> Top Review</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
          </li>
          <li>
            <a href="{% url 'logout' %}"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
         {% block content %} {% endblock%}
		</div>

    <script src="{% static 'profile_static/js/jquery.min.js' %}"></script>
    <script src="{% static 'profile_static/js/popper.js' %}"></script>
    <script src="{% static 'profile_static/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'profile_static/js/main.js' %}"></script>
  
  </body>
</html>