{% extends "profile_templates/base.html" %}

 {% block styles %}
    {% load static %}

     <style type="text/css">
     	body {
     		background-image: url("{% static 'profile_static/images/back2.jpg' %}"); 
          background-repeat: no-repeat;
          background-size: 100% 100%;
          font-family: 'Chelsea Market', cursive;
         
     	}

      #div1 {
        height: 600px;
        width:500px;
        background-color: white;
        border: 2px solid pink;
        border-radius: 25px;
        margin-left: 100px; 
       
      }

      #div2{
        height: 200px;
        width: 300px;
        border: 4px solid black;
        border-radius: 10px;
        background-color: white;
      }

      h1 {
        color: white;
        font-family: 'Chelsea Market', cursive;
      }
     </style>
    
    {% endblock %}

   {% block content %}
      <div id="content" class="p-4 p-md-5 pt-5">

        <div class="container mt-4">

<h1 class="text-center m-4">{{user.username}}'s Information</h1>


<br>
<div class="row">

    <div class="col-md-4">
        <img src="{{user.profile.image.url}}" class="img-thumbnail" width="100%">
        <div class="m-4"> </div>
       
    </div>
    <div class="col-md-8">

        <div class="card">
          <div class="card-header bg-warning"> <span class="text-light">{{user.username}}</span>  Details <span class="float-right">testing <a href="/logout/" class="btn btn-danger">Logout</a></span>
</div>
          <div class="card-body">
              <table class="table table-bordered table-hover">
            <tr>
                <td>Username:</td>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Date of birth:</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Sponsor:</td>
                <td>{{profile_obj.sponsor_id}}</td>
            </tr>

            <tr>
                <td>Email:</td>
                <td>{{User.Email}}</td>
            </tr>

            <tr>
                <td>Mobile:</td>
                <td>{{profile_obj.phon_no}}</td>
            </tr>


            <tr>
                <td>Address:</td>
                <td>Vill mudia satasi post bagrain badaun</td>
            </tr>
            <tr>
                <td>Pincode:</td>
                <td>-</td>
            </tr>
             <tr>
                <td>gender:</td>
                <td>Male</td>
             </tr>
             <tr>
                <td>Registration Date:</td>
                <td>{{user.date_joined}}</td>
             </tr>
            
        </table>


          </div>
          <div class="card-footer"><a href="/" class="btn btn-info">Back</a></div>
        </div>

    </div>

</div>



</div>
   {% endblock content %}