{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>SIGN UP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style type="text/css">
      form {
        width:50%;
        height: 200px;
        margin-left: 200px;
        margin-top: 50px;
      }
    </style>
</head>
<body>
      <form method="post" target="_blank" novalidate>
    {% csrf_token %}
    <div class="row">
     <div class="col-6">
       sponsor:<input type="text" name="sponsor"><br><br>
       Side:<input type="text" name="side" value="" list="pricelist">
        <datalist id="pricelist">
          <option value="Left">
          <option value="Right">
          
        </datalist>

        <br><br>
      </div><br><br>
      <div class="col-6">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.email|as_crispy_field }}
      </div>
    </div>
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}
    <button type="submit" class="btn btn-success">Save person</button>
  </form>
        
</body>
